.QuickActionConditionBuilder {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__empty {
        font-size: 13px;
        color: rgba(var(--center-channel-color-rgb), 0.56);
        font-style: italic;
    }
}
